<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CartMapper">

	<insert id="cartAdd" parameterType="CartDTO">
	 insert into cart (Cart_Code,Member_Code,Cart_Amount,Item_Code,Cart_Size,Cart_Color,Cart_Taste)
	 values (cart_seq.nextval,#{Member_Code},#{Cart_Amount},#{Item_Code},#{Cart_Size},
	 #{Cart_Color},#{Cart_Taste})
	</insert>
	
	<select id="selectByCode" resultType="CartInfoDTO"  parameterType="int">
	
	
	</select>
</mapper>